*.class

# Package Files #
*.jar
*.war
*.ear

# System #
*~
~*
*.bak

# IDEs #
.idea
*.sublime-*
.classpath
.project
.mymetadata
/.myeclipse
/.settings
/bin
/classes
/lib

# Bower #
bower_components

# JAVA #
*.log

# Custom #
README.htm*

/config
/content
/docs/api
/WebRoot/WEB-INF/classes
/src/config
/WebRoot/WEB-INF/web.xml